<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Travel App</title>
        <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
        <!-- <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css"> -->
    </head>

    <body>
        <div class="container">
            <header>
                <!-- <div class="header">
                <nav class="nav_bar" > 
                    <a href="#about" class="nav_bar_item"> 
                        <img src="./img/logo.png" alt="brand logo" class="logo__image"></a>  
                    <h2 class="nav_bar__title">Travel Planner</h2>
                    <ul class="nav_bar__menu">
                        <li class="nav_bar__list"><a href="#about">About</a></li>
                        <li class="nav_bar__list"><a href="#planner">Plan a trip</a></li>
                    </ul>
                </nav>  -->
            
             </header>
        
        <main>
            <!-- About the Journey -->
            <!-- <section id="about" class="section section__about">
                <div class="map_wrapper">
                    <div class="about_map">
                        <h1 class="map_heading"> Travel Time</h1>
                        <h3 class="map_title">The travel planner</h3>
                        <a href="#" class="map_link">Trip Details</a>
                    </div>
                </div>
            </section> -->
            <!-- Planning the Journey -->
            <section id="planner" class="section section__planner">
                 
                    <form class="travel" >
                        <h2 class="form__heading"><strong> Plan your trip</strong></h2>
                        <input type="text" class="form_take_off_from" id="city_leave" name="from" placeholder="leaving from...">
                        <input type="text" class="form_going_to" id="city" name="to" placeholder="going to...">
                        <input type="date" class="form_date" id="date_leaving" name="start-date"  placeholder="Leaving Date">
                        <input type="date"  class="form_date" id="date_return" name="end-date"  placeholder="Return Date">
                        <input type="submit" class="input_submit" name="submit" value="Submit">
                    </form>
                
            </section>
            <!-- OUTPUT Section -->
            
                <section id="result" class="planner_output">
                    <div class="results">
                        <div>
                            <img id="image">
                        </div>
                        <p id='my_trip'></p>
                        <p id="dateLeaving"></p>
                        <p id="dateReturn"></p>
                        <p id='days'></p>
                        <p id="weather"></p>
                        <p id="temp"></p>
                        <p id='description'></p>
                    </div>
                    
                    
                       </div>   
                </section >  
              
               
        </main>

       
        </div>
        

    </body>
    <!-- <script> // Check that service workers are supported
        if ('serviceWorker' in navigator) {
          // Use the window load event to keep the page load performant
          window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
          });
        }
    </script> -->
</html>
