<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Travel App</title>
        <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
        <!-- <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css"> -->
    </head>

    <body>
        <div class="container">
            <header>
                <div class="header">
                <nav class="nav_bar" > 
                    <a href="#about" class="nav_bar_item"> 
                        <!-- <img src="./img/logo.png" alt="brand logo" class="logo__image"></a>   -->
                    <h2 class="nav_bar__title">Travel Planner</h2>
                    <ul class="nav_bar__menu">
                        <li class="nav_bar__list"><a href="#about">About</a></li>
                        <li class="nav_bar__list"><a href="#planner">Plan a trip</a></li>
                    </ul>
                </nav> 
            
             </header>
        
        <main>
            <!-- About the Journey -->
            <section id="about" class="section section__about">
                <div class="map_wrapper">
                    <div class="about_map">
                        <h1 class="map_heading"> Travel Time</h1>
                        <h3 class="map_title">The travel planner</h3>
                        <a href="#" class="map_link">Trip Details</a>
                    </div>
                </div>
            </section>
            <!-- Planning the Journey -->
            <section id="planner" class="section section__planner">
                 
                    <form class="travel" >
                        <h2 class="form__heading">Plan your trip</h2>
                        <input type="text" class="form_take_off_from" id="city_leave" name="from" placeholder="leaving from...">
                        <input type="text" class="form_going_to" id="city" name="to" placeholder="going to...">
                        <input type="date" class="form_date" id="date_leaving" name="start-date"  placeholder="Leaving Date">
                        <input type="date"  class="form_date" id="date_return" name="end-date"  placeholder="Return Date">
                        <input type="submit" class="input_submit" name="submit" value="Submit">
                    </form>
                
            </section>
            <!-- OUTPUT Section -->
            
                <section id="result" class="planner_output">
                    <div class="results">
                        <div>
                            <img id="image">
                        </div>
                        <p id='my_trip'></p>
                        <p id="date_leaving"></p>
                        <p id="date_return"></p>
                        <p id='days'></p>
                        <p id="weather"></p>
                        <p id="temp"></p>
                        <p id='description'></p>
                    </div>
                    
                    <!-- <div class = "trip_fact"> <strong>Travel Information:</strong></div>
                    
                    <div class= "output_text"> 
                        <h2 class="destination_date_result"> The trip on: <span id="date"></span > </h2>
                        <h2 class="destination_text_result"> to: <span id="city"></span</h2> 
                        <h2 class="destination_countdown"> is <span id="days"></span> days </h2>
                        <div class = "weather_cond"> <p id="weather"> The Weather is </p> </div>
                        <p id="temp"> and the temperature is</p></id>
                    </div> -->
                        <a class="button button__save" id="save" href="#">Print</a>
                        <a class="button button__delete" id="delete" href="#">Delete</a>
                       </div>   
                </section >  
              
               
        </main>

        <footer class="footer">
                <div class="footer-left">Terms of Use      Privacy Policy</div>
                <div class="footer-right"> Learn More       @2021 CY Academy</div>
            
        </footer>
        </div>
    </body>
</html>
