body {
    
    margin: 5em;
    font-family: 'Times New Roman', Times, serif;
    background-color: wheat;
    display: flex;
    padding-top: 20px;
    padding-bottom: 40px;
    // flex-direction: column;
    // min-height: 100vh;
}

// main {
//     flex: 2;
// }

// section {
//     max-width: 500px;
//     margin: 50px auto;
// }
// .section {
    
//     height: 100vh;
//     position: relative;
//     width: 100vw;
//   }
img {
    border-radius: 50%;
    height: 50%;
    object-fit: cover;
    width: 50%;
    align-items: center;
}

 
.button{
    border: none;
    color: black;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    margin: 4px 2px;
    cursor: pointer;
}
.container{
    position:fixed;
    // display: flex;
    width: 80%;
    height: 90%;
    margin: 10px;
    // grid-template-columns: 25% 60% 15%;
    grid-template-areas: 
    "hd hd hd"
    "main main main"
    "ft ft ft ";
    border: 3px solid red;
}





@media (max-width:360px){
    .container{
        background-color: tomato;
    /* set display to grid*/
        display: grid;
        width: auto;
        margin: auto;
/* set up rows and columns*/

        grid-template-rows: 80px auto 50px;
        grid-template-areas: 
         "hd hd hd"
        "main main main"
        "ft ft ft ";
        border: 3px solid red;
    }
    @media (max-width: 600px){
        .footer-right, .footer-left{
            flex:100%
        }
    }

}