$color-light:skyblue;

body {
    
    margin: 5em;
    font-family: 'Times New Roman', Times, serif;
    background-color: $color-light;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

img {
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
    width: 100%;
    align-items: center;
    
}

 
.button{
    border:sandybrown;
    height: 20px;
    color: black;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    margin: 4px 2px;
    cursor: pointer;
}
.container{
    // position:relative;
    // display: flex;
    width: 95%;
    // margin-right: 2px;
    // margin-left: 2px;
    // margin-top: 2px;
    // margin-bottom: 2px;
    // height: 95%;
    // margin: 10px;
    // grid-template-columns: 25% 60% 15%;
    // grid-template-areas: 
    // "hd hd hd"
    // "main main main"
    // "ft ft ft ";
    border: 3px solid red;
}


h1 {
    text-align: center;
    text-decoration-color: blue;
    // border: 0.5em;
}
p{
    font-size: 2em;
}


// #image {
//     align-items: center;
//     height: 500px;
//     width:500px;
// }






@media (max-width:360px){
    .container{
        background-color: tomato;
    /* set display to grid*/
        // display: grid;
        width: 100%;
        // margin: auto;
        // margin: 2em;
/* set up rows and columns*/

        // grid-template-rows: 80px auto 50px;
        // grid-template-areas: 
        //  "hd hd hd"
        // "main main main"
        // "ft ft ft ";
        border: 3px solid red;
    }
    

}