// header {
//     display: flex;
//     justify-content: space-between;
//     padding: 10px 40px;
// }
$color-light:skyblue;

header {
    background-color: $color-light;
    // height: 50px;
    position: fixed;
    width: 100%;        
    padding: 10px 0;
    color: #fff;
    // z-index: 5;
    justify-content: center;
    // display: flex;
    border: 2.0em;
    
  }
  
    @media only screen and (min-width: 350px) {
      header { 
        background-color: pink;
        height: 20px;
        position: relative;
        width: 60vw;
        justify-content: center;
        border: 0.5em;
        
    }  
  } 
  

  .logo__image {
      position: top-left;
  }